html,
body {
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
    display:table-cell;
}
html {
    display:table;
}
body {
}



.header {
  width: 100%;
  height: 15%;
  text-align: center;
  color: #CDB380;
  padding-top: 2.5%;
}

h1 {
    margin:40px 0px 20px 0px;
    font-size:48px;
    line-height:34px;
    text-align:center;
    margin-top: 0;
}

p {
  font-size: 18px;
}

#about {
  background-color: white;
  z-index: 1;
  height: 85%;
  width: 100%;
  position: absolute;
  display: none;
}

#about p {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10%;
}

#toggle {
  width: 200px;
  margin:0 auto;
}

.doodle {
  padding: 0;
  margin: 0 auto;
  width: 90%;
  height: 700px;
  overflow: hidden;
  position: relative;

}


img {
  height: 100%;
  border-radius: 5px;
  display:block;
 position:absolute;
 left:0;
 right:0;
 bottom:0;
 margin:auto;
}

a {
  text-decoration: none;
  color: inherit;
}
